<app-header></app-header>
<app-handler 
(onmainservercreated) = "onMainServerCreate( $event )"
(onsubservercreated)= "onSubserverCreate( $event )"
 >
</app-handler>

            <div class="col-md-12">
                    <button class="btn btn-danger" (click)="deleteFirstItem()">Delete Itam</button>
            </div>
        
       
        <hr>
<app-handler-list *ngFor="let mixedElement of mixedElements"
                  [inputElement]="mixedElement">
                  <p>
                        <em *ngIf=" mixedElement.type==='mainserver' " style="color: red">{{mixedElement.content}}</em>
                        <em *ngIf=" mixedElement.type==='subserver' " style="color: green" >{{mixedElement.content}}</em>
                    </p>

                </app-handler-list>

